@import url('https://fonts.googleapis.com/css?family=Share+Tech');


body {
    margin: 0;
    position: relative;    
   font-family: 'Share Tech', sans-serif;     
}

nav {
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  height: 4.5em;
  width: 100%;
  background: none;
  box-sizing: border-box;
  padding: 12px 18px;  
  display: flex;
  list-style-type: none; 
  font-family: 'Share Tech', sans-serif;    
}

header.wall1 {
    background-image: url(Images/bb.jpg);    
    background-repeat: no-repeat;
    height: 900px;
    background-size: cover; 
    top: -15px;
    position: relative;
}

 .kk {    
    cursor: pointer;     
    position: relative;    
    top: 80px;
    left: 600px;
    margin-top: 15px;
    padding-bottom: 20px;    
    padding-right: 80px;    
    font-weight: 600;
    letter-spacing: .085em;
    font-size: 20px;    
    font-family: 'Share Tech', sans-serif;    
}

 .kk1 {    
    cursor: pointer;     
    position: relative;    
    top: 80px;
    left: 600px;
    margin-top: 15px;
    padding-bottom: 20px;    
    padding-right: 70px;    
    font-weight: 600;
    letter-spacing: .085em;
    font-size: 20px;    
    color: #EA1646;
    font-family: 'Share Tech', sans-serif;    
}

 .k1 {    
    cursor: pointer;     
    position: relative;    
    top: 10px;
    left: 50px;
    margin-top: 15px;   
    font-weight: 600;
    letter-spacing: 0.085em;
    font-size: 28px;    
    font-family: 'Share Tech', sans-serif;  
}

 .k {    
    cursor: pointer;     
    position: relative;    
    top: 80px;
    left: 80px;
    margin-top: 50px;   
    font-weight: 600;
    letter-spacing: 0.085em;
    font-size: 21px;    
    font-family: 'Share Tech', sans-serif;    
}

img.logo {
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    left: 10px;
}

.kk:hover, .kk.active, .kk:focus {
    color: #EA1646;
}

h3.one {
    margin-top: 80px;
    text-align: center;
    font-size: 50px;
}

h3.three {
    margin-top: 80px;
    text-align: center;
    font-size: 50px;
}

p.two {
    text-align: center;
    width: 1000px;
    margin: auto;
    font-size: 20px;
    margin-top: 50px;
    line-height: 40px;
}

p.four {
    text-align: center;
    width: 1000px;
    margin: auto;
    font-size: 20px;
    margin-top: 50px;
    line-height: 40px;
}

footer.foot {    
    height: 180px;
    background-color: beige;
    display: flex;
}

img.log {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 80px;      
}

div.down {
    display: flex;
}

div.down h3 {
    text-transform: uppercase;
    margin-top: 80px;
    margin-left: 30px;
}

span#moto {
    color: #EA1646;
    font-size: 12px;
}

div.links {
    display: flex;
    margin-left: 350px;
    margin-top: 20px;
}

div.links a {
    text-decoration: none;
    color: #000;
}

div.links a:hover {
    color: #EA1646;
}

div.link2 {
    margin-left: 50px;
}

span.tag {
    font-size: 20px;
    color: #EA1646;
    font-weight: bold;
}

p#copy {
    margin-left: 350px;
    margin-top: 80px;
}

div.info {
     display: flex;    
     margin-left: 115px;
     margin-right: 115px;
}

div.first {
    border: 1px solid #EA1646;
    width: 300px;
    border-radius: 50px;
    margin-left: 100px;
    text-align: center;
    margin-top: 50px;
}

img.img1 {
    width: 180px;
    height: 180px;    
    margin-top: 20px;
}

div.icons {
    padding-left: 60px;
    margin-top: 30px;   
    display: flex;
}

p.employeename, p.git {
    position: relative;
    top: -15px;
    margin-left: 30px;
}

div.second {
    border: 1px solid #EA1646;
    width: 300px;
    border-radius: 50px;
    margin-left: 100px;
    text-align: center;
    margin-top: 50px;
}

img.img2 {
    width: 180px;
    height: 180px;    
    margin-top: 20px;
}

div.third {
    border: 1px solid #EA1646;
    width: 300px;
    border-radius: 50px;
    margin-left: 100px;
    text-align: center;
    margin-top: 50px;
}

img.img3 {
    width: 180px;
    height: 180px;    
    margin-top: 20px;
}

div.info1 {
     display: flex;
     margin-left: 300px;
     margin-right: 300px;
    margin-bottom: 100px;
}

div.forth, div.fifth {
    border: 1px solid #EA1646;
    width: 300px;
    border-radius: 50px;
    margin-left: 100px;
    text-align: center;
    margin-top: 50px;
}

img.img1 {
    width: 180px;
    height: 180px;    
    margin-top: 20px;
}






